<!-- IF {forums_structure|count} > 0 -->
        category<br /><br />
    <!-- BEGIN forums_structure AS categories -->
        {categories.forum_name}<br /><br />

        <!-- BEGIN {categories.forums} AS category_forums -->
            -- <a href="f{category_forums.forum_id}-{category_forums.forum_name_url}.html">{category_forums.forum_name}</a><br />

            <!-- BEGIN {category_forums.forums} AS sub_forums -->
                -- -- <a href="f{sub_forums.forum_id}-{sub_forums.forum_name_url}.html">{sub_forums.forum_name}</a><br />
            <!-- END sub_forums -->
        <!-- END category_forums -->
    <!-- END forums_structure -->

        <br /><br />
<!-- ELSE -->
<!-- END -->