<!-- IF {forums_structure|count} > 0 -->
    <!-- BEGIN forums_structure AS categories -->
    <div class="forum_category_header">
        {categories.forum_name}
    </div>

        <!-- BEGIN {categories.forums} AS category_forums -->
            -- <a href="{category_forums.forum_name_url}">{category_forums.forum_name}</a>
                ( {category_forums.statistics->posts} posts, {category_forums.statistics->topics} topics)
                - latest post <a href="{category_forums.latest_post->post_title}">{category_forums.latest_post->post_title}</a> by {category_forums.latest_post->user_name} on {category_forums.latest_post->post_time}<br />

            <!-- BEGIN {category_forums.forums} AS sub_forums -->
                -- -- <a href="{sub_forums.forum_name_url}">{sub_forums.forum_name}</a>
                    ( {sub_forums.statistics->posts} posts, {sub_forums.statistics->topics} topics) <br />
            <!-- END sub_forums -->
        <!-- END category_forums -->
    <!-- END forums_structure -->

        <br /><br />
<!-- ELSE -->
<!-- END -->